* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form,
form input,
form button,
table {
  font-family: monospace;
}

form,
#output {
  padding: 1rem;
  max-width: 90vw;
  margin: 1em auto;
}

form .field {
  margin: 0.5rem 0;
}

form label {
  line-height: 1.5;
}

form input:not([type='checkbox']) {
  padding: 0.5rem;
  width: 100%;
  border: 1px solid #005a9c;
  border-radius: 2px;
}

form input[type='checkbox'] {
  vertical-align: middle;
}

form button {
  border: none;
  background: #005a9c;
  color: #fff;
  border-radius: 2px;
}

form > button {
  padding: 1rem;
  width: 100%;
}

form > button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

form button:not(:disabled):hover,
form button:not(:disabled):focus {
  background: #08314f;
  cursor: pointer;
}

.selections button {
  padding: 0.2rem 1rem 0.2rem 0.5rem;
  margin: 2px 0;
  margin-right: 0.5rem;
  position: relative;
}

.selections button:after {
  position: absolute;
  display: flex;
  right: -0.25rem;
  top: -0.25rem;
  background: #f44336;
  border-radius: 50%;
  content: 'x';
  font-size: 60%;
  padding: 0.2rem;
  width: 0.5rem;
  height: 0.5rem;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
}

table tr {
  background: #eee;
}

table tr:nth-child(2n) {
  background: #fafafa;
}

table thead tr {
  background: aliceblue;
}

table td,
table th {
  padding: 0.5rem;
  text-align: left;
}

.autocomplete {
  background: white;
  z-index: 1000;
  font: 1em/1.5 '-apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  overflow: auto;
  border: 1px solid #005a9c;
}

.autocomplete > li {
  padding: 0.2rem;
  list-style: none;
}

.autocomplete > li:hover {
  background-color: #005a9c75;
  cursor: pointer;
}
.autocomplete > li.selected {
  background: #005a9c;
  color: #fff;
}
