* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form,
form input,
form button,
table {
  font-family: monospace;
}
form select {
  font: inherit;
}

form,
#output {
  padding: 1rem;
  max-width: 90vw;
  margin: 1em auto;
}

form .field {
  margin: 0.5rem 0;
}

form label {
  line-height: 1.5;
}

form input:not([type='checkbox']) {
  padding: 0.5rem;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 2px;
}

form input[type='checkbox'] {
  vertical-align: middle;
}

form button {
  border: none;
  background: #005a9c;
  color: #fff;
  border-radius: 2px;
}

form > button {
  padding: 1rem;
  width: 100%;
}

form > button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

form button:not(:disabled):hover,
form button:not(:disabled):focus {
  background: #08314f;
  cursor: pointer;
}

table {
  width: 100%;
}

table tr {
  background: #eee;
}

table tr:nth-child(2n) {
  background: #fafafa;
}

table thead tr {
  background: aliceblue;
}

table td,
table th {
  padding: 0.5rem;
  text-align: left;
}

.tags-look .tagify__dropdown__item {
  display: inline-block;
  border-radius: 3px;
  padding: 0.3em 0.5em;
  border: 1px solid #ccc;
  background: #f3f3f3;
  margin: 0.2em;
  font-size: 0.85em;
  color: black;
  transition: 0s;
}
