.logo img {
  max-width: 1.8cm;
}

img {
  max-width: 100%;
  height: auto;
}

pre {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 0;
}

:not(.example) > pre {
  background: #fbfbfb;
}

table.def th {
  width: auto !important;
}

h2 code,
h3 code,
h4 code {
  font-weight: bold;
}

a.wiki-link {
  font-size: 0.8em;
  margin-left: 4px !important;
  display: none;
}

/* TODO: use :is() when supported */
h2:focus-within .wiki-link,
h3:focus-within .wiki-link,
h4:focus-within .wiki-link,
h5:focus-within .wiki-link,
h2:hover .wiki-link,
h3:hover .wiki-link,
h4:hover .wiki-link,
h5:hover .wiki-link {
  display: initial;
}

.toc code {
  color: #005a9c;
}

kbd {
  display: inline-block;
  padding: 0.1em 0.2em;
  font-family: monospace;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 0.3em;
  box-shadow: inset 0 -1px 0 #d1d5da;
}
